.card {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    grid-area: auto;
    padding: 70px 45px;
    text-align: center;
    border-radius: 0%;
    border: 2px solid #3498db; /* 2px de ancho, estilo sólido y color azul (#3498db) */
}

.cardContent img {
    width: 7vw;
    height: auto;
}

.cardContent h3 {
    color: var(--color-primary);
    font-size: 1.5rem;
}

.cardContent p {
    line-height: 30px;
} 