.about-me-container {
    padding: 144px 72px 288px;
    width: 100%;
    background-color: var(--color-primary);
}

.about-me-content {
    display: flex;
    padding: auto;
    flex-direction: row;
    justify-content: center;
}

.info {
    flex: none;
    width: 60%;
    color: #ffffff;
}

.info h2 {
    text-align: center;
    margin-bottom: 10px;
    color: #ffffff
}

.info p {
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
    line-height: 35px;
    padding: 10px;
}

.about-me-container img {
    width: 40vw;
    height: 90vh;
}

.skills-container {
    padding: 10px;
    margin-top: 30px;
}

.technologies {
    display: flex;
    flex-direction: row;
    margin: 15px;
}

.technologies img {
    width:4vw;
    height: 5vh;
    align-self: flex-start;
}

.skills-container img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.softskills-container {
    display: flex;
}
  
.softskills {
    position: relative;
    margin-right: 10px;
}
  
.softskills img {
    background-color: #ffffff;
    width: 3vw;
    height: 5vh;
    margin: 10px;
    padding: 5px;
    border-radius: 20%;
}
  
.tooltip {
    visibility: hidden;
    width: 150px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -70px;
    opacity: 0;
    transition: opacity 0.3s, top 0.3s;
}
  
.softskills:hover .tooltip {
    visibility: visible;
    opacity: 1;
    /*  Se está calculando un valor que es el 100% de la altura del contenedor 
    principal más 5 píxeles adicionales. Esto crea un espacio adicional entre la 
    parte inferior del contenedor principal (la imagen en este caso) y la parte 
    superior del tooltip. */
    top: calc(100% + 5px);
}
