.services-container {
    display: flex;
    font-size: 18px;
    grid-area: auto;
    line-height: 27px;
    margin-top: -14rem;
    padding: 5rem 15rem;
    text-align: center;
}

.skills {
    display: flex;
    grid-area: auto;
    text-align: center;
    border-radius: 0%;
    background-color: #ffffff;
    border-radius: 10px;
    border: 0.1px solid #dcdcdc; /* 2px de ancho, estilo sólido y color azul (#dcdcdc) */
}

.skillsContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 0;
    flex-grow: 1;
    padding: 70px 45px;
}

.skillsContent img {
    width: 7vw;
    height: auto;
    margin-bottom: 1rem;
}

.skillsContent h3 {
    color: var(--color-primary);
    font-size: 1.5rem;
    font-weight: bold;
}

.skillsContent h4 {
    font-size: 1.1rem;
    font-weight: bold;
}

.skillsContent p {
    height: 50%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    line-height: 30px;
}

.technologies img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10px;
    width: 2vw;
}
